* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.retive {
    position: relative;
}
.bg-img {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    /* background-color: #fff; */
}

.bg-img1 {
    background-image: url('../img/01.jpg');
}
.bg-img2 {
    background-image: url('../img/02.jpg');
}
.bg-img3 {
    background-image: url('../img/03.jpg');
}
.bg-img4 {
    background-image: url('../img/04.jpg');
}
.bg-img5 {
    background-image: url('../img/05.jpg');
}
/* #fullpage{

} */
.section{
    background-color: #000;
}
.section-img {
    width: 66vw;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width: 450px) {
    .section {
        display: flex;
        justify-content: center;
    }

}
@media screen and (max-width: 376px) {
    .section {
        display: flex;
        background-color: #fff;
    }

}
.footer {
    width: 100vw;
    position: fixed;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > div:first-of-type {
    width: 186px;
    height: 38px;
    background: linear-gradient(90deg, #244DFF 0%, #24BAFE 100%);
    border-radius: 19px;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.footer .footer-arrow {
    width: 50px;
    height: 17px;
    overflow: hidden;
    position: relative;
    top: 13px;
}
.footer .footer-arrow div {
    position: absolute;
    left: 50%;
    top: -5px;
    transform: rotateZ(45deg) translateX(-50%);
    width: 24px;
    height: 24px;
    border: 3px solid #253B8E;
    border-radius: 2px;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 111111;
    width: 100%;
    height: 120%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: top;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    overflow: hidden;
}
